#hashtag-container {
  overflow: auto;
  width: 990px;
  padding-top: 100px;
}

#hashtag-container .hashtag-close {
  background: #756f9b url('../images/close-icon.svg') no-repeat center center;
  background-size: 30px;
  width: 56px;
  height: 56px;
  right: -60px;
  position: absolute;
  top: -18px;
  cursor: pointer;
  z-index: 8040;
}

#hashtag-container .hashtag-close:before {
  content: '';
  width: 40px;
  height: 40px;
  background: #fff;
}

#hashtag-container .hashtag-title {
  font-size: 75px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  color: #e8e8e8;
  padding: 0px 15px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: -10px;
}

.hashtag-overlay {
  z-index: 8010;
  top: 0;
  left: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(100,92,131,0.92)!important;
  background-image: none;
  overflow: auto;
  overflow-y: scroll;
  width: auto;
  height: auto;
  display: block;
}

.hashtag-overlay .hashtag-wrap {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  z-index: 8030;
  width: 949px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 243px;
  opacity: 1;
  overflow: visible;
  display: block;
}

.hashtag-overlay .hashtag-skin {
  padding: 0px;
  width: auto;
  height: auto;
  box-shadow: none;
  background: transparent;
  position: relative;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.hashtag-overlay, .hashtag-iframe {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  overflow: hidden;
}

#hashtag-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8029;
}

#hashtag-loading div {
  width: 44px;
  height: 44px;
}

#hashtag-loading, #hashtag-loading div, #hashtag-loading{
  background: none!important;
  background-image: none!important;
}


#hashtag-loading div {
  position: relative;
  width: 4em;
  height: 4em;
  transform: rotate(165deg);
  -webkit-transform: rotate(165deg);

}
#hashtag-loading div:before, #hashtag-loading div:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.35em;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

}
#hashtag-loading div:before {
  animation: before 2s infinite;
 -webkit-animation: before 2s infinite;

}
#hashtag-loading div:after {
  animation: after 2s infinite;
  -webkit-animation: after 2s infinite;
}

@-webkit-keyframes before {
  0% {
    width: 0.7em;
    box-shadow: 1.65em -0.95em rgba(243, 245, 247, 0.75), -1.65em 0.95em rgba(243, 245, 247, 0.75);
  }

  35% {
    width: 4em;
    box-shadow: 0 -0.95em rgba(243, 245, 247, 0.75), 0 0.95em rgba(243, 245, 247, 0.75);
  }

  70% {
    width: 0.7em;
    box-shadow: -1.65em -0.95em rgba(243, 245, 247, 0.75), 1.65em 0.95em rgba(243, 245, 247, 0.75);
  }

  100% {
    box-shadow: 1.65em -0.95em rgba(243, 245, 247, 0.75), -1.65em 0.95em rgba(243, 245, 247, 0.75);
  }
}
@-webkit-keyframes after {
  0% {
    height: 0.7em;
    box-shadow: 0.95em 1.65em rgba(243, 245, 247, 0.75), -0.95em -1.65em rgba(243, 245, 247, 0.75);
  }

  35% {
    height: 4em;
    box-shadow: 0.95em 0 rgba(243, 245, 247, 0.75), -0.95em 0 rgba(243, 245, 247, 0.75);
  }

  70% {
    height: 0.7em;
    box-shadow: 0.95em -1.65em rgba(243, 245, 247, 0.75), -0.95em 1.65em rgba(243, 245, 247, 0.75);
  }

  100% {
    box-shadow: 0.95em 1.65em rgba(243, 245, 247, 0.75), -0.95em -1.65em rgba(243, 245, 247, 0.75);
  }
}

.fixed{position: fixed; top: 0px; left:0px;}
.hashtago-desc{font-size: 10px;letter-spacing: 0.7px;font-weight: 300; margin-top: -5px;}
.hashtago-desc a{color: #b3b3b3;}
.hashtago-desc a:hover{color: #fff;}
